In [ ]:
# EXP 8
# Title - To study for loop in python
# ARADHANA MEENA
# 25070123147

In [ ]:
# Print numbers from 1 to 5

for i in range(1,6): #range(range start, stop, increment)
  print(i)

1
2
3
4
5

In [ ]:
# Print only odd numbers from 1 to 10

for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
# Sum of first N numbers

n = int(input("Enter N: "))
total = 0

for i in range(1, n + 1):
  total += i
print("Sum of first", n, "numbers is", total)

Enter N: 5
Sum of first 5 numbers is 15

In [ ]:
# 3x3 matrix display

A =[[1,2,3],
    [4,5,6],
    [7,8,9]]

for i in range(3):
    for j in range(3):
      print(A[i][j], end = " ")
    print()

1 2 3
4 5 6
7 8 9

In [ ]:
# Multiplication of two 3x3 Matrices (Most Important)
A = [[1, 2, 3],
     [4, 5, 6],
     [1, 2 ,1]]
B = [[1, 1, 1],
     [6, 5, 4],
     [3, 2, 1]]

Result = [[0, 0, 0],
          [0, 0, 0],
          [0, 0, 0]]
for i in range(3):       # rows of A
  for j in range(3):      # columns of B
    for k in range(3):
      Result[i][j] += A[i][j] * B[k][j]
for row in Result:
  print(row)

[10, 16, 18]
[40, 40, 36]
[10, 16, 6]

In [ ]:
# 3x3 matrix display

A =[[1,2,3],
    [4,5,6],
    [7,8,9]]

for r in A:
  print(r)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
# Print all prime numbers in Range
for num in range(2, 50):
  for i in range(2, num):
    if num % i == 0:
      break
  else:
      print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
# Print * in right angle triangle

for i in range(10, 0, -1): #range(start, stop, increment)
  print("*"*i)

**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
# Print pyramidal shape

rows = 5
for i in range(1, rows + 1):
  print(" " * (rows - i) + " *" * i)

     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
n = 5
for i in range(n): #0,1,2,3,4
  print(i*' ',(n-i)*' *')

  * * * * *
   * * * *
    * * *
     * *
      *